@model LibrarySystem.Models.User

@{
    ViewBag.Title = "Signup";
    
    Layout =null;
}

<h2>Signup</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.uid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.uid)
            @Html.ValidationMessageFor(model => model.uid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Login", "Login")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
